*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/.kotlin


exampleIOS/iosApp.xcworkspace/*
exampleIOS/iosApp.xcodeproj/*
!exampleIOS/iosApp.xcodeproj/project.pbxproj

iosQuizBox/iosApp.xcworkspace/*
iosQuizBox/iosApp.xcodeproj/*
!iosQuizBox/iosApp.xcodeproj/project.pbxproj

